@charset 'utf-8';

*{
  font-family: sans-serif;
}


h1{
  text-align: center;
  font-size: 5vmin;
  font-weight: bold;
  
}

h2{
  text-align: center;
  font-size: 3vmin;
  font-weight: bold;
}

div{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

button{
  margin: 5px;
  padding: 10px;
  background-color: tomato;
  border-style: none;
  font-size: 2vmin;
  border-radius: 0.5vmin;
  cursor: pointer;
}

button:hover{
  background-color: gray;
}

