@charset 'utf-8';

*{
  padding: 0;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
}

body{
  background-image: url(../img/fundo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

nav ul li a{
  color: white !important; 
  text-decoration: none !important;
}

#general{
  width: 100%;
  height: 470%;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
}

#top{
  width: 100%;
  height: 7%;
  background-color: firebrick;
}

#bannerzin{
  width: 100%;
  height: 80%;
  background-color: hotpink;
}

#bannerzin img{
  width: 100%;
  height: 100%;
}

#menuzin{
  width: 100%;
  height: 20%;
  background-color: #2d5185;
}

#menuzin ul{
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.281);
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 2.5vmin;
  font-weight: bold;
  list-style: none;
}


#body{
  width: 100%;
  height: 90%;
}

#screen1, #screen2, #screen3, #screen4{
  width: 100%;
  height: 25%;
}

.container{
  height: 80%;
  width: 80%;
  padding-top: 3%;
}

#text-body{
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#title{
  width: 100%;
  height: 30%;
  font-size: 7vmin;
  color: white;
  text-align: center;
}

#text{
  width: 100%;
  height: 20%;
  font-size: 4vmin;
  color: white;
  text-align: center;
}

#screen3{
  display: flex;
  align-items: center;
  justify-content: center;
}

#video{
  width: 70%;
  height: 70%;
  background-color: darkcyan;
}

#genshin{
  width: 100%;
  height: 100%;
}

#screen4{
  display: flex;
  justify-content: space-between;
}

#form{
  width: 49%;
  height: 100%;
  display: flex;
  align-items: center;
}

.contact{
  color: white;
  font-size: 3.5vmin;
}

.title{
  color: white;
  font-size: 2vmin;
}

#map{
  width: 49%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#location{
  color: white;
  font-weight: bold;
  font-size: 3vmin;
  padding: 3%;
}

#div-map{
  width: 70%;
  height: 60%;
}

#iframe-map{
  width: 100%;
  height: 100%;
}


#footer{
  width: 100%;
  height: 3%;
  background-color: grey;
}

#icons{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#icons a{
  display: flex;
  justify-content: space-around;
}

#icons img{
  width: 12%;
}
